.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background-color: white;
  animation: fadeOutSlideUp 2s ease-in-out forwards;
  animation-delay: 2.5s; // Adjust to your splash duration
}

@keyframes fadeOutSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.logo-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.status-message {
  font-size: 16px;
  color: #28a745;
  margin-top: 10px;
}